.header {
  background: #15467A;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-container{
  max-width: 1250px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.log {
  padding: 10px 15px;
}

.log h1 {
  margin: 0;
  color: #fff;
}

.nav-bar {
  flex: 1;
  text-align: right;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 18px 22px;
}

.toggler {
  display: none;
  margin-right: 30px;
}

.toggler-bar {
  background: #fff;
  height: 2px;
  width: 25px;
}

.mid-toggler {
  margin: 5px 0
}



@media screen and (max-width: 500px) {
  .nav {
      justify-content: space-between;
  }

  .nav-bar {
      position: absolute;
      left: 0;
      top: 56px;
      height: 0vh;
      padding-right: 30px;
      background: #223;
      text-align: center;
      width: 100%;
      transition: ease-in-out 0.3s;
      visibility: hidden;
  }

  .nav-bar li {
      display: block;
  }

  .nav-bar a {
      display: block;
      padding: 10px;
      width: 100%;
      transition: ease-in-out 0.3s;
  }

  .nav-bar a:hover {
      background: #ccc;
      color: #223;

  }

  .toggler {
      display: block;
      float: right;
  }

  .nav-bar.responsive {
      height: 100vh;
      visibility: visible;
  }
}